{% extends "::base.html.twig" %}

{% block body %}
    <h1>Créer un article:</h1>
    <div>
        {{ form_start(form, {'action': path('front_create'), 'method': 'POST'}) }}
            {{ form_errors(form) }}

            {{ form_row(form.title) }}
            {{ form_row(form.leading) }}
            {{ form_row(form.body) }}
            {{ form_row(form.createdBy) }}
            {% do form.createdAt.setRendered %}
            {% do form.slug.setRendered %}
            <input type="submit" value="Soumettre" />
        {{ form_end(form) }}
    </div>
    <div><a href="{{ path('front_list') }}">Retour à la liste</a></div>
{% endblock %}